<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: 'center'">Ezequiel Archilla PPS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img class="icon" src="../../assets/icon/favicon.png"></ion-img>
  <div class="container-flex">
  <ion-button shape="round" color="secondary" expand="full" (click)="navigateTo('/ingreso')"
    >Ingreso</ion-button
  >
  <ion-button
    style="margin-top: 5%"
    color="secondary"
    expand="full"
    shape="round"
    (click)="navigateTo('/registro')"
    >Registro</ion-button
  >
</div>
</ion-content>